//Colors
$white: #efefef;
$black: #101010;
$lite-black: #202020;
$grey: #909090;
$lite-grey: #c7c7c7;
$dark-grey: #444444;
$brown: #332412;
$orange: #ffa500;
$red-orange: #ff4500;

//Colored Text
$grn-txt: #228b22;
$blu-txt: #4169e1;
$prp-txt: #8a2be2;
$org-txt: #ff8c00;
$red-txt: #ff0000;

//Colored Text in Dark Mode
$grn-txt-dm: #adff2f;
$blu-txt-dm: #61CDFF;
$prp-txt-dm: #E6A1F2;
$org-txt-dm: #ffb100;
$red-txt-dm: #FF7E61;

//Fonts
$main-font: 'Open Sans', sans-serif;
$heading-font: 'Noto Sans', sans-serif;

//Media Queries
$desktop: 1000px;